* {
    font-family:Arial, Helvetica, sans-serif;
}
.header {
    position: relative;
    background-color:darkorchid;
    margin: -10px -10px;
}
.header .nav {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.header .nav .navbar {
    position: relative;
}
.header .nav .navbar.left {
    position: relative;
    flex: 50%;
    margin: 0;
}
.header .nav .navbar.right {
    position: relative;
    display: flex;
    flex: 50%;
    margin: 0;
}
.header .nav .navbar.left .name {
    position: relative;
    display: flex;
    list-style: none;
    margin: auto;
}
.header .nav .navbar.right .menu {
    position: relative;
    display: flex;
    list-style: none;
    margin: auto;
}
.header .nav .navbar.left .name li {
    padding: 20px 10px;
}
.header .nav .navbar.right .menu li {
    padding: 20px 20px;
    font-size: 14px;
}
.header .nav .navbar.left .name li a {
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
    font-family: cursive;
    font-size: 18px;
}
.header .nav .navbar.right .menu li a {
    text-decoration: none;
    color: antiquewhite;
}
.header .nav .navbar.right .menu li a:hover {
    color: violet;
}
.content {
    background-color: antiquewhite;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}
.content .content-title {
    line-height: 0.5;
}
.content .content-title p {
    font-size: 28px;
}
.content .content-title h1 {
    font-size: 40px;
    margin-top: 0;
    color: darkorchid;
}
.content .content-blog {
    margin-top: 100px;
    display: block;
}
.content .content-blog a {
    text-decoration: none;
    color: black;
}
.content .content-blog a .list-blog {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: rgb(247, 211, 247);
    border-radius: 10px;
    border: 2px solid violet;
}
.content .content-blog .list-blog:hover {
    border: 2px solid darkorchid;
}
.contact {
    background-color: antiquewhite;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: -10px;
    margin-right: -10px;
}
.contact p {
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}
.contact .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact .logo img {
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
.contact .logo img:hover {
    background-color: violet;
    border-radius: 25px;
}
footer {
    background-color: darkorchid;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: antiquewhite;
    font-size: 12px;
}
