* {
    font-family:Arial, Helvetica, sans-serif;
}
.header {
    position: relative;
    background-color:darkorchid;
    margin: -10px -10px;
}
.header .nav {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.header .nav .navbar {
    position: relative;
}
.header .nav .navbar.left {
    position: relative;
    flex: 50%;
    margin: 0;
}
.header .nav .navbar.right {
    position: relative;
    display: flex;
    flex: 50%;
    margin: 0;
}
.header .nav .navbar.left .name {
    position: relative;
    display: flex;
    list-style: none;
    margin: auto;
}
.header .nav .navbar.right .menu {
    position: relative;
    display: flex;
    list-style: none;
    margin: auto;
}
.header .nav .navbar.left .name li {
    padding: 20px 10px;
}
.header .nav .navbar.right .menu li {
    padding: 20px 20px;
    font-size: 14px;
}
.header .nav .navbar.left .name li a {
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
    font-family: cursive;
    font-size: 18px;
}
.header .nav .navbar.right .menu li a {
    text-decoration: none;
    color: antiquewhite;
}
.header .nav .navbar.right .menu li a:hover {
    color: violet;
}
.content {
    background-color: antiquewhite;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
.content .content-title {
    line-height: 0.5;
    padding-top: 20px;
    padding-bottom: 20px;
}
.content .content-title p {
    font-size: 28px;
}
.content .content-title h1 {
    font-size: 40px;
    margin-top: 0;
    color: darkorchid;
}
.content .content-expedu {
    display: grid;
    line-height: 1;
}
.content .content-expedu .grid {
    padding-left: 20px;
}
.content .content-expedu .grid-1 {
    background-color: violet;
}
.content .content-expedu .grid-2 {
    background-color: rgb(247, 211, 247);
}
.content .content-expedu .grid-3 {
    background-color: violet;
}
.content .content-expedu .grid-4 {
    background-color: rgb(247, 211, 247);
}
.content .content-expedu .grid-5 {
    background-color: violet;
}
.content .content-expedu .grid-6 {
    background-color: rgb(247, 211, 247);
}
.content .content-expedu div {
    margin: 3px 3px;
}
.content .content-expedu .grid-left {
    width: 300px;
}
.content .content-expedu .grid-2 {
    grid-column: 2 / span 3;
    grid-row: 1;
}
.content .content-expedu .grid-4 {
    grid-column: 2 / span 3;
    grid-row: 2;
}
.content .content-expedu .grid-6 {
    grid-column: 2 / span 3;
    grid-row: 3;
}
.content .content-expedu .grid-2 div {
    padding-bottom: 5px;
}
.content .content-expedu .grid-2 div .school {
    font-weight: bold;
    color: darkorchid;
}
.content .content-expedu .grid-2 div .date {
    font-weight: bold;
}
.content .content-expedu .grid-2 div .note {
    font-size: 14px;
} 
.contact {
    background-color: antiquewhite;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: -10px;
    margin-right: -10px;
}
.contact p {
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}
.contact .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact .logo img {
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
.contact .logo img:hover {
    background-color: violet;
    border-radius: 25px;
}
footer {
    background-color: darkorchid;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: antiquewhite;
    font-size: 12px;
}
