* {
    font-family:Arial, Helvetica, sans-serif;
}
.header {
    position: relative;
    background-color:darkorchid;
    margin: -10px -10px;
}
.header .nav {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.header .nav .navbar {
    position: relative;
}
.header .nav .navbar.left {
    position: relative;
    flex: 50%;
    margin: 0;
}
.header .nav .navbar.right {
    position: relative;
    display: flex;
    flex: 50%;
    margin: 0;
}
.header .nav .navbar.left .name {
    position: relative;
    display: flex;
    list-style: none;
    margin: auto;
}
.header .nav .navbar.right .menu {
    position: relative;
    display: flex;
    list-style: none;
    margin: auto;
}
.header .nav .navbar.left .name li {
    padding: 20px 10px;
}
.header .nav .navbar.right .menu li {
    padding: 20px 20px;
    font-size: 14px;
}
.header .nav .navbar.left .name li a {
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
    font-family: cursive;
    font-size: 18px;
}
.header .nav .navbar.right .menu li a {
    text-decoration: none;
    color: antiquewhite;
}
.header .nav .navbar.right .menu li a:hover {
    color: violet;
}
.content {
    background-color: antiquewhite;
    margin-left: -10px;
    margin-right: -10px;
}
.content .content-image img{
    width: 100%;
}
.content .content-blog {
    padding-left: 200px;
    padding-right: 200px;
}
.content .content-blog div{
    display: block;
}
.content .content-blog div h1 {
    font-size: 32px;
    font-family: cursive;
    text-align: center;
}
.content .content-blog div p {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
}
.content .content-blog .note span {
    font-style: italic;
}
.contact {
    background-color: antiquewhite;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: -10px;
    margin-right: -10px;
}
.contact p {
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}
.contact .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact .logo img {
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
.contact .logo img:hover {
    background-color: violet;
    border-radius: 25px;
}
footer {
    background-color: darkorchid;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: antiquewhite;
    font-size: 12px;
}
